.delete-note {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  &__text {
    margin: 40px 0 20px;
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  @media screen and (width <= 375px) {
    &__header {
      gap: 12px;
    }

    &__text {
      margin: 20px 0 16px;

      & > .text {
        font-size: 16px;
        line-height: 22px;
      }
    }

    &__buttons {
      gap: 8px;
    }
  }
}
