@import url(./style/reset.css);
@import url(./style/vars.css);
@import url(./style/fonts.css);
@import url(./style/typography.css);

:root {
  background-color: var(--bg);

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

#app {
  height: 100dvh;
}
